<h2 class="text-2xl font-bold text-zinc-900 mb-2">
  Lista de Direcciones
</h2>

<p class="text-slate-500 mb-6">
  Direcciones registradas
</p>

@if (direcciones.length > 0) {

<table class="w-full border border-slate-200">

  <thead>

    <tr class="bg-zinc-900 text-white">

      <th class="p-3 text-left">ID</th>

      <th class="p-3 text-left">Dirección</th>

      <th class="p-3 text-left">Barrio</th>

      <th class="p-3 text-left">Ciudad</th>

      <th class="p-3 text-left">Teléfono</th>

      <th class="p-3 text-left">Eliminar</th>

    </tr>

  </thead>

  <tbody>

    @for (direccion of direcciones; track direccion.address_id) {

    <tr class="border-b border-slate-200">

      <td class="p-3">
        {{ direccion.address_id }}
      </td>

      <td class="p-3">
        {{ direccion.address }}
      </td>

      <td class="p-3">
        {{ direccion.district }}
      </td>

      <td class="p-3">
        {{ direccion.city_id }}
      </td>

      <td class="p-3">
        {{ direccion.phone }}
      </td>

      <td class="p-3">

        <button
          type="button"
          (click)="eliminarDireccion(direccion.address_id)"
          class="bg-zinc-900 text-white px-4 py-2 rounded hover:bg-zinc-800">

          Eliminar

        </button>

      </td>

    </tr>

    }

  </tbody>

</table>

} @else {

<p class="text-slate-500">
  No hay direcciones registradas.
</p>

}